*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(73, 223, 223);
}

.container{
    background-color:lightgrey;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.image{
    height: 120px;
    width: 100px;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
}

.header-1{
    float: left;
    padding: 30px;
}

h1, h2, h3, h4, h5, h6{
    color: black;
}

.header-contact{
    float: right;
    padding: 20px;
}

.header-contact a{
   text-decoration: none;
   color:whitesmoke;
}

.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}

.clear-header{
    clear: both;
}

hr{
    border: solid black 3px;
    margin: 20px auto;
    border-bottom: none;
}

.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

#personal-information{

}

.content{
    margin-bottom: 30px;
}

.left-div{
    float: left;
    width: 30%;
}

.right-div{
    float: left;
    width: 70%;
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-div-1{
    float: left;
    width: 30%;
}

.left-div-2{
    float: right;
    width: 35%;
}

.right-div-1{
    float: right;
    width: 35%;
}

.footer-container{
    background-color: black;
    text-align: center;
    padding-top: 15px;
}

.footer-container a{
    margin: 20px;
    text-decoration: none;
    color: white;
}

.footer-container p{
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
